.BikeTile_button {
    background: #3399ff;
    margin: 0 25% 5px 25%;
    padding: 5px;
    text-align: center;
    font-size: 21px;
    color: black;
}

.BikeTile_info {
    font-size: 14px;
    color: black;
    text-align: center;
}

.BikeTile_image {
    width: 100%;
    margin-top: 75px;
}

.BikeTile_container {
    display: block;
}

@media (max-width: 1200px) {
    .BikeTile_container {
        width: 40%;
        padding: 15px;
    }
}

@media (min-width: 1200px) {
    .BikeTile_container {
        width: 30%;
        padding: 10px;
    }
}

@media (max-width: 800px) {
    .BikeTile_container {
        width: 80%;
    }
}