.BikeTile_container {
    width: 90%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.BikeTile_image {
    width: 100%;
    margin-top: 75px;
}

.BikeTile_button {
    background: #3399ff;
    margin: 0 25% 5px 25%;
    padding: 5px;
    text-align: center;
    font-size: 21px;
    color: black;
}

.BikeTile_info {
    font-size: 14px;
    color: black;
    text-align: center;
}