.footerLogo_container {
    width: 100%;
    height: auto;
    background-color: black;
}

.footerLogo_img {
    display: block;
    margin: 0 auto 5px auto;
    padding-top: 40px;
}

.footerLogo_Sentence {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 0 15px 50px 15px;
}

.footerLogo_bottomLink {
    color: #3399ff;
}