.Home_mainImg {
    width: 100%;
}

.Home_featurePres {
    background: black;
    color: white;
    text-align: center;
    padding: 2em;
    z-index: 3;
}

.Home_container {
    margin-top: 0;
    background: black;
}

.Home_vimeo {
    width: 100%;
    background: black;
}

.Home_smugglerPres {
    width: 100%;
    padding-top: 1em;
}

.Home_blockMessage {
    padding: 1em .5em;
    color: white;
    text-align: center;
    font-size: 14px;
}

.Home_megaFeatures {
    padding: 1em;
    background: white;
    text-align: center;
    font-size: 24px;
}