.Home_mainImg {
    width: 100%;
}

.Home_featurePres {
    background: black;
    color: white;
    text-align: center;
    padding: 2em;
    z-index: 3;
}

.Home_container {
    margin-top: 0;
    background: black;
}

.Home_vimeo {
    width: 100%;
    background: black;
}