.nav {
    height: 8vh;
    background-color: black;
}

.topLeftLogo {
    height: 8vh;
}

.nav_hamburger {
    float: right;
    padding-right: 10px;
    padding-top: 1em;
}

.openHamburger {
    background-color: black;
}

.openHamburger div {
    color: white;
}